body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #DAA520;    
}
h2{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}